In [2]:
from sklearn import datasets

In [10]:
clf = datasets.make_classification()

In [15]:
x,y = clf[0], clf[1]

In [20]:
import pandas as pd
x = pd.DataFrame(x)
x.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-0.160968,0.846657,-0.743235,0.386951,0.526478,-0.293358,-0.289484,-1.924021,1.221795,-0.015467,0.276193,-0.190641,-0.163793,-0.679320,0.167696,-0.588555,-1.505805,-0.622848,2.294582,0.916408
1,0.499730,0.758723,0.115807,-0.486871,-0.073755,-0.298210,-0.160969,0.267915,0.410605,-0.728817,0.531395,-1.315826,-0.187921,-0.250215,-0.512412,0.117961,0.024162,-0.286002,-0.149289,0.405732
2,-0.723314,-2.327522,0.598438,1.755620,1.312584,-0.855719,-0.862930,-0.040869,0.422996,-0.715444,1.088042,-0.538258,-1.216302,-0.410508,0.301235,-1.442471,1.978947,0.789057,1.459467,2.586461
3,0.202789,0.442393,1.253295,0.597709,1.539501,0.712323,-0.218673,0.539550,-0.160776,-0.717556,-0.968415,-0.726605,-1.534348,-0.293634,1.697743,-1.831653,0.412546,0.707688,0.797122,0.364048
4,-0.839040,-0.190093,2.252565,0.016486,-1.484150,-0.835233,-0.424023,1.707981,1.182845,2.401483,2.729477,0.357811,-0.624172,0.468344,-0.915479,1.877661,-0.627595,-0.104069,-0.285870,0.930095

In [23]:
y = pd.DataFrame(y)
y

    0
0   1
1   1
2   1
3   0
4   1
.. ..
95  0
96  0
97  1
98  0
99  0

[100 rows x 1 columns]